img.img-responsive {
	max-width: 100%;
	width: initial;
	display: inline-block;
}

#info-window {
	display: none;
}

.close-window {
	position: absolute;
	right: 0;
	cursor: pointer;
	padding-right: 10px;
    padding-top: 10px;
}